</main>
    
<footer class="footer bg-gray-800 text-white p-4">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4>KONTAKT OPLYSNINGER</h4>
              <ul>
                  <li><a href="/">Kontakt oplysninger</a></li>
                  
              </ul>
          </div>
          <div class="footer-col">
              <h4>INFORMATION</h4>
              <ul>
                  <li><a href="#about" id="about-link">Om WeDo</a></li>
                  <li><a href="/"></a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Hjælp & kontakt</h4>
              <ul>
                  <li><a href="/">Kontakt os</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Følg os på!</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom text-center">
    <p id="footer-copyright-year"></p>
  </div>
</footer>
<script src="../assets/js/footer.js"></script>
<script src="../assets/js/header.js"></script>
<script type="module" src="../assets/js/todo.js"></script>
</body>
</html>